   *{
   margin: 0;
   padding: 0;
}
/* navigaton bar */
html
{
   scroll-behavior:smooth;
}
#navbar
{
   display: flex;
   align-items: center;
   position:sticky;
   top: 0px;
   /* box-shadow:2px 2px 20px white; */
}
#navbar::before{
   content: "";
   background-color: black;
   position: absolute;
   top:0px;
   left:0px;
   height: 100%;
   width:100%;
   z-index: -1;
   opacity: 0.7;
}
.logo img
{
   margin: 3px 6px;
   height: 59px;
   border-radius: 50px;
}
.logo
{
   margin: 10px 34px;
}
/* #navbar::before
{
   content: "";
   background-color: black;
   position: absolute;
   top: 0px;
   height: 100%;
   width: 100%;
   z-index:-1;
   opacity: 0.3;
} */
#navbar a
{
   display: block;
   text-decoration: none;
   padding:2px 26px ;
   border-radius: 10px;
   color: white;
}
#navbar a:hover
{
color: black;
background-color: white;
}
#navbar ul
{
   display: flex; 
   font-family: 'Gowun Batang', serif; 
}

#navbar ul li
{
   list-style-type: none;
   font-size: 1.3rem ;
}

/* home section */
#home
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 3px 200px;
   height:550px;
   /* background-color: 2px solid green; */
}
#home::before
{
   content: "";
   position: absolute;
   top: 0px;
   left: 0px;
   background: url(https://i.ytimg.com/vi/5LE8mg8Khbo/maxresdefault.jpg) no-repeat center center/cover;
   height: 100vh;
   width: 100%;
   z-index: -1;
   opacity: 0.9;

}


#home p
{
   font-size: 1.8rem;
   color: white;
   text-align: center;
   font-family: 'Gowun Batang', serif;
}
#home .btn
{
   padding: 8px 30px;
   margin:20px;
   font-size: 1.5rem;
   background-color: coral;
   color: white;
   font-family: 'Gowun Batang', serif;
   border-radius: 10px;
   border: none;
   cursor: pointer;
  
}
#home .btn:hover
{
   background-color: tomato;
   
}
.services-container
{
   margin: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* border: 2px solid black; */
}
#services
{
   display: flex;
   margin: 34px;
   /* border: 2px solid red; */
   /* margin-top: 20px; */
  
}
#services .box
{
   /* border: 2px solid green ; */
   padding: 34px;
   margin:2px 55px;
   box-shadow: 2px 2px 5px grey;
   background-color: rgb(243, 243, 243);

}
#services .box img
{
   height: 170px;
   display: block;
   margin: auto;
   /* border: 2px solid red; */
}

/* utility classes */
.intro
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding:50px 40px;
   /* border: 2px solid orange; */
}
.h-primary
{
   /* border: 2px solid yellow; */
   font-size: 3rem;
   color:white;
   padding: 12px;
   text-align: center;
   mix-blend-mode: screen;
   font-family: 'Gowun Batang', serif;
   /* font-family: 'Style Script', cursive; */
}
.h1-primary
{  
   border-radius: 50px;
   margin: 50px;
   margin-bottom: 25px;
   width:250px;
   padding:16px;
   align-items: center;
   color: white;
   font-size: 2rem;
   background-color: coral;
   font-family: 'Gowun Batang', serif;
}
.h-secondary
{
   font-size: 2.3rem;
   font-family: 'Gowun Batang', serif;
   margin-top: 1rem;
}
.center
{
   text-align: center;
}
.section-p
{
   font-size: 1.2rem;
   text-align: justify;
   margin:1rem;
}

.menu
{
   position: relative;
   /* /background-color: rgba(241, 227, 241, 0.123); */
   height: 513px;
   /* border: 2px solid springgreen; */
   width: 100%;
   /* align-items: center; */
   z-index: -2;
}
#menu-items
{
   width: 100%;
   /* border: 2px solid red; */
   display: flex;
      align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}
#menu-items div a
{
   text-decoration: none;
   color: white;
}

#menu-items div
{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 25px 25px;
   padding: 35px;
   width:300px;
   min-height: 50px;
   box-sizing: border-box;
   /* border: 2px solid white; */
background-color:coral;   /* box-sizing:content-box; */
   box-shadow:5px 5px 8px grey;
   font-family: 'Gowun Batang', serif;
   font-size:2rem;
   color: white;
   border-radius:40px;
}
.marq
{
   color:white;
   margin-top: 34px;
   margin-bottom: 34px;
   font-size: 35px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: red;
}
#review
{
   background-color: rgba(233, 208, 153, 0.349);
   padding: 50px 50px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content:space-evenly;
   align-items: center;
   grid-gap: 1.2rem;
  
}
.rev
{
   box-sizing: border-box;
   overflow:hidden;
   padding: 1.4rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   width:100%;
   background-color: rgb(250, 250, 250);
   box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.411);
   border-radius: 10px;
}
.rvimg
{
  
   box-sizing: border-box;
   width: 50%;
}
.content
{
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   background-color: rgba(29, 29, 29, 0.205);
   padding: 15px;
   margin-left: 5px;
   width: 50%;
}
.h3-review
{
   font-size: 1.5rem;
   text-align: center;
   /* border: 2px solid white; */
   color: rgba(63, 57, 57, 0.849);
}
.p-review
{
   font-size: 1.1rem;
   text-align:center;
   margin-top: 10px;
   /* font-weight: bold; */
}
.customer
{
   border-radius: 50px;
   width:500px;
   margin: auto;
   margin-bottom: 35px;
   text-align: center;
   padding:16px;
   align-items: center;
   color: white;
   font-size: 2.8rem;
   background-color: coral;
   font-family: 'Gowun Batang', serif;

}

footer
{
   box-sizing: border-box;
   display: grid;
   background-color: #000;
   grid-template-columns:repeat(3, 1fr);
color: white;
justify-content:space-around;
padding: 3rem;
grid-row-gap: 30px;
}
.footerIndex
{
   display: flex;
   flex-direction:column;
   width: 80%;
   /* border: 1px solid red; */

}
.footerIndex ul
{
   padding: 0;
}
.footerIndex ul li
{
   cursor: pointer;
   list-style: none;
   padding: 0.3rem 0;
   font-size: 1.1rem;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footerIndex h2
{
   color: gray;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footerEnd img
{
   width: 70px;
   height: 70px;
   border-radius: 50%;

}
.footerEnd
{
   background-color: black;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   justify-content: space-between;
   text-align: center;
   align-items: center;
   font-size: 1.3rem;
   color: white;
   border-top: 1px solid grey;
   padding: 1rem;
}
.footerEnd svg
{
   margin: 1rem;
}

